caption{
    border: 1px solid  black;
}
tr{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}.f{
    background-color: fuchsia;
}
.k {
    background-color: light rgb(144, 88, 255);
}.blue{
    background-color: blue;
}
.q{
    background-color: aqua;
}
.black-w{
    background-color: tan;
}
.white{
    background-color: white;
}
.k{
    background-color: khaki;
}